body{
    margin: 0;
}

.container{
    height: 300px;
    width: 300px;
    background-color:red;
    position: relative;
}
.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 0;
    
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 0;
    position: fixed;

}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    right: 100px;
    left: 200px;
    top: 0;
    
    
    
      
}
